{% extends "layout.html" %}

{% block body %}

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='assets/img/mountains.jpg') }}" alt="About Cover" class="img-fluid mb-4">
            </div>
            <div class="col-lg-6 about-info">
                <h2 class="section-heading text-uppercase">About Us</h2>
                <p class="text-muted">{{params['about_us']}}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
